---
layout: resume
title: Jasvir Singh Cheema | Resume
---
<header>
  <div class='info'>
    <h1>Jasvir Singh Cheema</h1>
    <p class='address'>Unit 2, 62 Fox Street, St Albans 3021</p>
    <div class='contact'>
      <p>
        <span class='name'>T:</span>
        <span class='val'>+61 430 486 333</span>
      </p>
      <p>
        <span class='name'>E:</span>
        <span class='val'>admin@jaischeema.com</span>
      </p>
    </div>
  </div>
  <div class='logo'>
    <h1>JC</h1>
  </div>
</header>
<section>
  <article>
    <h2>About Me</h2>
    <div class="items">
      <p class="description">
        I am a seasoned developer that has worked with a wide array of languages and frameworks. I enjoy working on interesting projects that force me out of my comfort zone and help me learn newer and better ways of doing things.
      </p>
    </div>
  </article>
  <article>
    <h2>Open Source</h2>
    <div class="items">
      <div class="item">
        <h3>Triangular</h3>
        <span class='url'><a href="https://github.com/jaischeema/triangular/">https://github.com/jaischeema/triangular/</a></span>
        <p class="description">Emberjs app for playing music in browser.</p>
        <ul class='dot-points'>
          <li>Built using Emberjs framework</li>
          <li>Soundmanager for playing and controlling sound</li>
          <li>Backends on to my custom music service.</li>
        </ul>
      </div>
      <div class="item">
        <h3>Paper Trail</h3>
        <span class='url'><a href="https://github.com/jaischeema/paper_trail/">https://github.com/jaischeema/paper_trail/</a></span>
        <p class="description">My Contributions to the project were:</p>
        <ul class='dot-points'>
          <li>DataMapper ORM support.</li>
          <li>ORM agnostic layer which makes it easy to add more ORM support</li>
          <li><strong>Not maintained anymore</strong></li>
        </ul>
      </div>
    </div>
  </article>
  <article>
    <h2>Projects</h2>
    <div class='items'>
      <div class='item'>
        <h3>Codex - Shared expense management app</h3>
        <span class='meta'>Sept 2013 - Ongoing</span>
        <p class="description">
        This app is in works for managing expenses in shared households. This was to reduce the headache of paperwork and calculating shares at the end of each month.
        </p>
        <ul class='dot-points'>
          <li class='heading'>Features</li>
          <li>Built on Ruby on rails 4 for webapp and Objective-c for iOS app.</li>
          <li>Hosted on Heroku</li>
          <li>Using postgresql database</li>
        </ul>
      </div>
      <div class='item'>
        <h3>Kaato - Music Player app</h3>
        <span class='meta'>Jun 2013 - Ongoing</span>
        <p class="description">
          iOS music player app that can recommend punjabi music and share playlists among friends.
        </p>
        <ul class='dot-points'>
          <li class='heading'>Features</li>
          <li>Built using Objective-c</li>
          <li>Uses cocoapods for dependency management</li>
        </ul>
      </div>
      <div class='item'>
        <h3>Employee Management System - Dun & Bradstreet</h3>
        <span class='meta'>July 2010 - Aug 2010</span>
        <p class="description">
          Designed and implemented an intranet system for DnB to assist with managing their employees.
          This system was designed keeping in mind their existing infrastructure which included .NET and SQL server based backends.
        </p>
        <ul class='dot-points'>
          <li class='heading'>Features</li>
          <li>Built on .NET4</li>
          <li>Using the inbuilt data views for ASP.NET</li>
          <li>Multi-tiered authorization</li>
        </ul>
      </div>
    </div>
  </article>
  <br/>
  <article>
    <h2>Experience</h2>
    <div class='items'>
      <div class='item'>
        <h3>Developer - Trikeapps Pty Ltd</h3>
        <span class='meta'>May 2013 to PRESENT</span>
        <p class='description'>
          Working in a role of developer on various projects.
        </p>
        <ul class='dot-points'>
          <li class='heading'>Some Projects I work on</li>
          <li><a href="http://radiopaedia.org">Radiopaedia.org - Ruby on rails app</a></li>
          <li><a href="http://bellroy.com">Bellroy.com - Magento app</a></li>
          <li><a href="http://dentalmembers.com.au">Dental Members Australia - Ruby on rails app</a></li>
        </ul>
      </div>
      <div class='item'>
        <h3>Technical Support Engineer - CyberSecure Pty Ltd</h3>
        <span class='meta'>March 2011 to May 2013</span>
        <p class='description'>
          First contact of technical support and any internal system issues. Created internal business and technical processes to keep up with the growth.
        </p>
        <ul class='dot-points'>
          <li class='heading'>Projects</li>
          <li>New website design - Using HAML and SCSS</li>
          <li>Rewrite of the billing script</li>
          <li>Integrate the RT ticketing system with rest of the system</li>
        </ul>
      </div>
      <div class='item'>
        <h3>Tutor and Lab Assistant - RMIT University</h3>
        <span class='meta'>July 2009 to December 2010</span>
        <p class='description'>
          This role encompassed running tutorials for multiple programming courses. Running practical lab courses to assist students in modelling and applying the
          concepts to real world scenarios.
        </p>
        <ul class='dot-points'>
          <li class='heading'>Main duties</li>
          <li>Demonstration of Application of concepts</li>
          <li>Marking Assignments</li>
          <li>Explaining the subject matter in a simple way</li>
        </ul>
      </div>
    </div>
  </article>
  <article>
    <h2>Education</h2>
    <div class='items'>
      <div class='item'>
        <h3>RMIT University</h3>
        <span class='meta'>Bachelors of Information Technology - July 2007 to July 2010</span>
        <p class="description">
          Majored in application programming
        </p>
        <ul class='dot-points'>
          <li class='heading'>Accomplishments</li>
          <li>High Achievement award for all three years of study.</li>
          <li>Listed on the vice-chancellor's list.</li>
          <li>Perfect Cumulative GPA of 4.0.</li>
          <li>International student scholarship for all the eligible semesters.</li>
        </ul>
      </div>
    </div>
  </article>
  <article>
    <h2>Skills</h2>
    <div class='items'>
      <div class="item">
        <ul class='lists'>
          <li class="heading">Frameworks</li>
          <li>Ruby on Rails</li>
          <li>Emberjs</li>
          <li>Angularjs</li>
          <li>Wordpress</li>
          <li>Magento</li>
          <li class="heading">Languages</li>
          <li class="sub-heading">Proficient</li>
          <li>Ruby</li>
          <li>Objective-C</li>
          <li>JavaScript/Coffeescript</li>
          <li>HTML</li>
          <li>CSS</li>
          <li class="sub-heading">Intermediate</li>
          <li>Python</li>
          <li>C</li>
          <li>Java</li>
          <li>C++</li>
          <li>Perl</li>
          <li>C#</li>
          <li class="heading">Platforms</li>
          <li>Linux</li>
          <li>Windows</li>
          <li>FreeBSD</li>
          <li>Mac OSX</li>
          <li>iOS</li>
          <li>Android</li>
        </ul>
      </div>
    </div>
  </article>
  <article>
    <h2>References</h2>
    <div class="items">
      <div class="item">
        <h3>Wesley Moore</h3>
        <span class="meta">TrikeApps - Manager</span>
        <ul class="dot-points">
          <li>Contact Number: +61 3 9024 2760</li>
          <li>Email: wes@trikeapps.com</li>
        </ul>
      </div>
      <div class="item">
        <h3>Rene Badalassi</h3>
        <span class="meta">CyberSecure - Director</span>
        <ul class="dot-points">
          <li>Contact Number: +61 3 8470 7601</li>
          <li>Email: rene@cybersecure.com.au</li>
        </ul>
      </div>
    </div>
  </article>
</section>
